@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

:root {
  --bg-dark: #202028;
  --bg-light-trans: #9994;

  --fg-lightest: #ddd;
  --fg-light: #999;
  --fg-light-trans: #9998;
  --fg-mid: #445;
  --fg-dark: #334;

  --map-font: "Kaushan Script", system-ui;
  --title-font: "Yozakura", system-ui;
  --title-font-size: 1.25em;
  --logo-font-size: 2rem;
  --logo-margin-top: -0.2em;
  --nav-font-size: 1.25rem;
  --nav-margin-top: 0.25em;
  --drop-cap-size: 1.25rem;
  --drop-cap-padding: 0 6px 3px 0;

  --bg-image: url('/images/ricepaper.jpg');
  --bg-image-height: 250px;

  --site-width: 60rem;
}

@font-face {
    font-family: "Yozakura";
    src: url("/fonts/YozakuraJP-Light.woff2") format("woff2");
}

nav {
    margin-top: 8px;
}

div.sidebar.race-info {
    width: 200px;

    dl {
        font-size: 0.75em;
        display: flex;
        flex-flow: row wrap;
    }

    dt {
        flex-basis: 110px;
        font-weight: bold;
    }

    dd {
        flex-basis: 80px;
        margin-left: 5px;
    }

    dt::after {
        content: ":";
    }
}

.map-tooltip-states {
  color: #AAF !important;
  font-size: 2em;
}

.map-tooltip-cities {
  font-size: 2em;
}

.map-tooltip-towns {
  font-size: 1.5em;
}

.map-tooltip-sites {
  color: #FF8 !important;
  font-size: 1.5em;
}

.map-tooltip-features {
  color: #DDD !important;
  font-size: 2em;
}
