:root {
  --bg-dark: #191006;

  --fg-lightest: #e48b36;
  --fg-light: #72461b;
  --fg-light-trans: #72461b88;
  --fg-mid: #4c2f12;
  --fg-dark: #40270f;

  --title-font: "Yozakura", serif;
}

@font-face {
    font-family: "Yozakura";
    src: url("/fonts/YozakuraJP-Light.woff2") format("woff2");
}

body {
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100svh;
  margin: 0;
  padding: 0;
  background: var(--bg-dark);
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
  font-family: var(--title-font);
  a {
    font-size: 1.25em;
    text-decoration: none;
  }
}

h1 {
  font-weight: bolder;
  font-style: normal;
  font-size: 2.5em;
}

h2 {
  clear: both;
}

nav {
  font-family: var(--title-font);
  font-weight: bolder;
  font-style: normal;
  margin-top: 8px;
}

main > div, nav > div, footer > div {
  max-width: 70rem;
  margin: auto;
}

main {
  flex-grow: 1;
  background: url('/images/ricepaper.jpg');
  background-repeat: repeat;
  background-size: 250px;

  color: var(--fg-dark);
}

main a {
  color: var(--fg-mid);
}

main a:hover {
  color: var(--fg-light);
}

a.external::after {
    content: "";
    width: 11px;
    height: 11px;
    margin-left: 4px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
}

p {
    margin-top: 0.5em;
    line-height: 1.6;
}

sub {
    font-size: 0.6em;
}

blockquote {
  border-left: 5px solid var(--fg-light-trans);
  margin: 1.0em 10px;
  padding: 0 1em;
  p {
    font-style: italic;
  }
}

table {
  border-collapse: collapse;
  margin: auto;
}

.listpage-table {
    margin: 0;
}

.listpage-table td {
    padding-right: 2rem;
}

td, th {
  padding: 0.3rem 0.5rem;
}

tr:nth-child(even) {
    background-color: #ccc5;
}

nav ul {
  list-style: none;
  display: flex;
  flex-flow: row-reverse wrap-reverse;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

nav ul li {
  /*margin-top: -0.25em;*/
  font-size: 1.5rem;
}

nav ul li:nth-child(1) {
  order: 4;
  flex-grow: 1;
}

nav ul li:nth-child(2) { order: 3; }
nav ul li:nth-child(3) { order: 2; }
nav ul li:nth-child(4) { order: 1; }

nav ul li a {
  color: white;
  padding: 0 1.5rem 0 0;
  text-decoration: none;
}

.nav-icon {
    margin-top: 2px;
    margin-bottom: -2px;
}

.heading-underline {
  color: var(--fg-light-trans);
  border: 0;
  border-bottom: 1px solid var(--fg-light-trans);
  margin-top: 0;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

.tags-box {
  float: right;
  border: 2px solid var(--bg-dark);
  border-radius: 10px;
  margin: 1rem 0.5rem;
  font-size: 0.8em;
  padding: 0.25rem;
}

ul.tags-list {
  list-style: none;
  padding: 0 4px;
  margin: 1px;

  li {
    border-radius: 8px;
    background-color: var(--fg-light-trans);
    color: var(--bg-dark);
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 0 0.5em;
    text-align: center;
    font-weight: bold;

    a {
      text-decoration: none;
    }
  }
}

ul.related {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  padding: 0;
  font-size: 0.75em;
  justify-content: center;

  li {
    text-align: left;
    border: 1px solid var(--bg-dark);
    border-radius: 8px;
    width: 25%;
    margin: 0 0 1em 1em;
    padding: 0.5em 1em;
  }
}

ul.index {
  width: 100%;
  list-style: none;
  columns: 3;
  padding: 0;
  font-size: 0.75em;
  min-height: 80dvh;
  width: 100%;

  li {
    text-align: left;
    margin: 0 0 1em 1em;
    padding: 0 1em;

    h1 {
        margin: 0;
    }
  }
}


.lastmod {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    width: 100%;
    text-align: right;
    font-size: small;
}

footer {
  text-align: right;
  font-size: small;
  margin: 0.5rem 0;
  color: var(--fg-light);
  a {
    color: var(--fg-lightest);
  }
}

.mapimage {
    float: right;
    width: 50%;
}

#leaflet-map {
    width: 100%;
    height: 70dvh;
}

.columns {
  columns: 2;
  column-gap: 5em;

  h1, h2, h3, h4, h5, h6 {
    break-after: avoid-column;
  }
}
